:root {
	--main: #17293c;
	--secondary: #1b3876;
	--background: #fdfdfd;
}

body {
	font-size: 100%;
	background-color: var(--background);
}

h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 4em;
	color: var(--main);
	margin: 15px;
	text-align: center;
}


h2 {

	font-family: 'Fredericka the Great', cursive;
	font-size: 3em;
	color: var(--main);
	margin: 15px;
}

caption {
	font-size: 1em;
	color: var(--secondary);
}

a:visited,
a:active,
a:hover,
a:link {
	color: var(--secondary)1;
	text-decoration-line: none;
}

th {
	color: #F20DE1;

}

.btn-sample {
	color: #ffffff;
	background-color: var(--secondary);
}

.MonTableau {
	margin: 0 auto;
	width: 600px;
}

.ajoutR {
	font-size: 1em;
	color: #17293c;
	text-align: right;
}